body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #535353;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

button.search-bar:hover {
  background-color: #44A4F2;
  color: #FFFFFF;
}

header hr {
  display: none;
}

hr {
  width: 95%;
  border: 1px solid #e0dddd;
  background-color: #FFFFFF;
  margin: 40px auto;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 32px;
  margin-bottom: 10px;
}

h3 {
  font-size: .8em;
  margin: .2em 0;
  color: #a8a8a8;
}

h4 {
  width: 5em;
  margin: 0;
  display: inline;
  font-size: 1em;
  color: #a8a8a8;
}

img {
  width: 300px;
    display: block;
    margin: auto;
}

p {
  font-size: 13px;
}

ul {
  padding: 0;
}

.answers {
  position: absolute;
  text-align: left;
  top: 0;
  left: 110px;
  font-weight: 400;
}

.caption {
  position: relative;
  width: 93%;
  height: 20px;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 32px 15px;
  font-size: 13px;
  font-weight: 600;
}

.character-container {
  margin: 50px auto 32px;
  width: 300px;
  background-color: #FFFFFF;
  padding-bottom: 1px;
}

.character-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #717E93;
}

.circles {
  display: inline-block;
  width: 120px;
  height: 99px;
  border-radius: 50%;
  border: 15px solid;
  border-color: #DDE6EB;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;
  padding-top: 20px;
}

.circles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.copy-btn {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 65px;
  border-radius: 4px;
  border: none;
  background-color: #67B5BF;
  color: #FFFFFF;
}

.copy-link {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 334px;
  margin: auto;
  height: 50px;
  position: relative;
  border-radius: 4px;
  padding: 13px;
  box-sizing: border-box;
}

.weblinks {
  width: 100px;
  overflow-x: scroll;
}

.connect-container {
  width: 324px;
  margin: auto;
  padding-bottom: 40px;
}

.connect-forms {
  width: 81%;
  margin: auto
}

.connect-head {
  font-size: 20px;
}

.fa-circle {
  color: #9AC659;
}

.fa-circle:before {
    content: "\f111";
    font-size: 12px;
    vertical-align: middle;
}

.figure-container {
  padding-top: 40px;
}

.graph {
  width: 100%;
  height: 340px;
}

.head-sections {
  display: inline;
}

.information {
  background-color: #EEF2F6;
}

.job {
  text-align: center;
  /*background-image: url('images/great-hall.jpg');*/
}

.job-btns {
  border: 1px solid #e0dddd;
  background-color: #FFFFFF;
  border-radius: 17px;
  font-size: 16px;
  padding: 8px 11px;
  color: #535353;
}

.job-btns:hover {
  background-color: rgba(210, 210, 210, 0.81);
}

.links {
  height: 45px;
  border: none;
  display: block;
  margin: auto;
  width: 81%;
  max-width: 334px;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
}

.main-header {
  width: 100%;
  background-color: #374050;
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.connect-container button i {
  font-size: 20px;
}

.nav-bar ul {
  display: none;
}

.nav-bar:hover {
  cursor: pointer;
}

.pages {
  width: 100%;
  background-color: #FFFFFF;
  height: 2em;
  padding-top: 1em;
  margin: 10px 0 0 10px;
}

.pages li {
  display: none;
}

.percents {
  font-size: 30px;
}

.profile-pic {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-image: url('images/sorting-hat.png');
  margin: auto;
  background-repeat: no-repeat;
  background-position: 51% 0%;
  background-size: 54px;
}

.search-nav {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e0dddd;
}

.search-bar {
  border: none;
  height: 100%;
  width: 80px;
  background-color: #FFFFFF;
  border-left: 1px solid #e0dddd;
  color: #535353;
  font-size: 16px;
}

.table-header {
  width: 95%;
  background-color: #717E93;
  height: 50px;
}

#blue {
  border-color: rgba(30, 59, 91, 0.23);
  border-right-color: #1E3B5B;
}

#character-description {
  font-size: 17px;
  margin: 0 0 0 15px;
  height: 20px;
  color: #d2d2d2;
}

#description-div {
  height: 235px;
}

#edit-btn {
  border: none;
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
  padding: 6px;
  background-color: #818C9F;
  color: #d2d2d2;
}

#edit-btn:hover {
  background-color: #bfc5d1;
}

#facebook {
  background-color: #4E71BA;
  margin-top: 20px;
}

#green {
  display: block;
  background-color: #417F31;
  border: none;
  margin: 15px auto;
  color: #FFFFFF;
  padding: 7px 9px;
  border-radius: 15px;
  font-size: 15px;
  height: 35px;
}

#green:hover {
  background-color: rgba(82, 146, 65, 0.79);
}

#hermione-pic {
  width: 100px;
  position: absolute;
  top: -42px;
}

#profile-container {
  margin: 50px 15px;
}

#linkedIn {
  background-color: #3180B7;
}

#page-break {
  width: 85%;
  height: 100px;
  margin: 50px auto 0;
}

#break {
  width: 272px;
  height: 100%;
  margin: auto;
  position: relative;
}

.page-line {
  width: 100px;
  display: inline-block;
}

#page-break-btn {
  width: 40px;
  margin-top: -66px;
  position: absolute;
  left: 116px;
}

#first-break {
  margin-left: 11px;
}

#last-break {
  position: absolute;
  right: 11px;
  top: 0;
}

#personality {
  border: 1px solid #e0dddd;
  background-color: #FFFFFF;
  border-radius: 17px;
  font-size: 15px;
  padding: 8px 11px;
  color: #535353;
  margin: 12px auto;
  display: block;
}

#personality:hover {
  background-color: rgba(210, 210, 210, 0.81);
}

#red {
  border-color: rgba(128, 10, 14, 0.18);
  border-right-color: #99282C;
  border-bottom-color: #99282C;
}

#search-input {
  width: 100%;
  height: 96%;
  border-left: none;
  margin-left: 5px;
}

#search-input:focus {
  outline: none;
}

#search-tool {
  margin: 16px 0 0 5px;
}

#slythrin {
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 1px;
}

#summary {
  display: block;
  text-align: left;
  font-weight: 700;
  width: 141px;
  padding-bottom: 8px;
  border-bottom: 2px solid #44A4F2;
  cursor: pointer;
}

#summary:hover ~ li{
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  width: 108px;
  height: 16px;
  background-color: white;
  position: relative;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  /* border-bottom: none; */
  border-right: 2.3px solid #44A4F2;
}

#summary ~ li:hover {
  background-color: #CDCDCE;
}

#three-bars {
  border-left: none;
  border-right: 1px solid #e0dddd;;
}

#town {
  margin-right: 33px;
  list-style: none;
}

#town + li {
  color: #20b3ff;
}

#twitter {
  background-color: #42A8E9;
}

#yellow {
  border-color: rgba(195, 132, 48, 0.22);;
  margin: 0 5px;
  border-right-color: #C38430;
}

#wand {
  height: 57px;
}

@media screen and (max-width: 599px) {
  .nav-bar:focus ul,
  .nav-bar:hover ul {
  display: block;
  background-color: #EFF2F6;
  width: 110px;
  padding: 5px;
  height: 105px;
  position: absolute;
  z-index: 100;
  list-style: none;
  font-size: 15px;
  border: 2px solid #39414F;
  margin-top: 3px;
}

.nav-bar ul li:hover {
  background-color: #CDCDCE;
}

.nav-bar:focus #last-section,
.nav-bar:hover #last-section {
  width: 100px;
  height: 85px;
  position: absolute;
  right: 1px;
}
}

@media screen and (min-width: 600px) {
  aside {
    width: 210px;
    position: absolute;
    top: 2px;
    right: 6px;
  }

  h1 {
    text-align: left;
    padding-left: 16px;
  }

   h4 {
    font-size: 10px;
    margin-bottom: 10px;
  }

  header hr {
    display: block;
    background-color: #252b34;
    height: 2px;
    border: none;
    width: 100%;
    margin: 25px auto;
  }

  .main-header {
  width: 109px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  }

  .search-nav {
    margin-left: 110px;
  }

  table {
    width: 500px;
    margin-left: 94px;
    border: 2px solid;
  }

  .bottom-half {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .categories {
    margin-bottom: 10px;
  }

  .connect-container {
    width: 462px;
    margin: auto;
  }

  .character-container {
    margin: auto;
    width: 460px;
  }

  .figure-container {
    margin-left: 97px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
  }

  .circles-container {
    width: 100%;
    padding-left: 9px;
  }

  .circles-btn-container {
    margin-top: 20px;
  }

  .description-container {
    margin-left: 110px;
  }

  .graph {
    width: 308px;
  }

  .head-sections li {
    margin-bottom: 5px;
  }

  .job {
    margin-left: 110px;
    position: relative;
  }

  .location {
    justify-content: flex-start;
    padding-left: 16px;
  }

  .links {
    width: 260px;
  }

  .nav-bar ul {
    display: block;
    list-style: none;
    color: #eaeaea;
    font-size: 12px;
  }

  .nav-bar ul li:hover {
    background-color: #232934;
    color: #df9740;
  }

  .categories {
    font-size: 11px;
  }

  .pages {
    width: auto;
    margin-left: 34px;
  }

  .profile-pic {
    margin-top: 40px;
  }

  #description-div {
    height: 110px;
  }

  #first {
    margin-top: 10px;
  }

 #page-break {
    margin: 50px auto 50px 99px;
  }

  #break {
  width: 446px;
  height: 100%;
  }

  .page-line {
    width: 175px;
  }

  #page-break-btn {
    width: 50px;
    margin-top: -72px;
    left: 200px;
  } 

  #wand {
    height: 32px;
  }
}

@media screen and (min-width: 913px) {
  table {
    width: 500px;
    margin-left: 98px;
    border: 2px solid;
  }

  h1 {
    padding-left: 35px;
  }

  .figure-container {
    margin-left: 95px;
    width: 90%;
  }

  .description-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .character-container {
    margin: 0;
  }

  .circles-btn-container {
    height: 332px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 42px;
  }

  .connect-container {
    width: 311px;
    margin: -20px 0 0 0;
  }

  .circles-container {
    width: 464px;
  }

  .figure-container {
    margin-left: 131px;
  }

  .graph {
    margin-top: 20px;
  }

  .head-sections li {
    margin-bottom: 12px;
  }

  .information {
    padding-bottom: 40px;
  }

  .job {
    margin-left: 151px;
  }

  .location {
    padding-left: 35px;
  }

  .main-header {
    width: 150px;
  }

  .nav-bar ul {
    display: block;
  }

  .profile-pic {
    margin-top: 30px;
    width: 60px;
    height: 60px;
  }

  .search-nav {
    margin-left: 151px;
  }

  #green {
    margin-top: 86px;
  }

  #page-break {
    margin-left: 151px;
  }

  #break {
  width: 746px;
  height: 100%;
  }

  .page-line {
    width: 325px;
  }

  #page-break-btn {
    width: 50px;
    margin-top: -72px;
    left: 349px;
  }

  #summary i {
    display: none;
  }

  .pages {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
  }

  #summary,
  .pages li {
    display: inline-block;
    text-align: left;
    font-weight: 700;
    width: 141px;
    padding-bottom: 8px;
    width: auto;
    font-size: 13px;
    cursor: pointer;
  }

  .pages li:hover {
    border-bottom: 2px solid #44A4F2;
  }

  #summary:hover ~ li{
  border-right: none;
  font-size: 13px;
  text-align: left;
  width: auto;
  height: auto;
  padding: 0;
  }
}

@media screen and (min-width: 1110px) {

  aside {
    width: 223px;
  }

  h1 {
    font-size: 45px;
  }

  .character-container {
    width: 600px;
  }

  .circles-btn-container {
    width: 50%;
    max-width: 690px;
  }

  .circles-container {
    width: 100%;
    justify-content: space-around;
  }

  .connect-container {
    margin-left: 50px;
  }

  .information {
    padding: 40px;
  }

  .location {
    padding-left: 41px;
    font-size: 19px;
  }

  .job-btns {
    font-size: 20px;
    border-radius: 21px;
  }

  #summary, 
  .pages li {
    font-size: 16px;
  }

  #summary:hover ~ li {
    font-size: 16px;
  }

  #last-nav-btn {
    border-right: 1px solid #e0dddd;
  }

  #description-div {
    height: 84px;
  }
}

@media screen and (min-width: 1550px) {
  .character-container {
    width: 742px;
  }

  .page-line {
    width: 520px;
  }

  #break {
    width: 1146px;
  }

  #description-div {
    height: 70px;
  }

  #page-break {
    width: 90%;
  }

  #page-break-btn {
    left: 548px;
  }
}